<app-page-header [heading]="'Ver lugares por visitar'" [icon]="'fa-bar-chart-o'"></app-page-header>


<div class="container">
    <div class="row">
        <div class="[ col-xs-12 col-sm-12 ]">
            <ul class="event-list">
                <li *ngFor="let place of rightPlaces">
                    <img alt="Independence Day" src="https://maps.googleapis.com/maps/api/staticmap?size=512x512&zoom=10&center={{place.latitude}},{{ place.length}}&format=png&style=feature:road.highway%7Celement:geometry%7Cvisibility:simplified%7Ccolor:0xc280e9&style=feature:transit.line%7Cvisibility:simplified%7Ccolor:0xbababa&style=feature:road.highway%7Celement:labels.text.stroke%7Cvisibility:on%7Ccolor:0xb06eba&style=feature:road.highway%7Celement:labels.text.fill%7Cvisibility:on%7Ccolor:0xffffff&key=AIzaSyAbXrYiFamSdSIFJq_Wt_7GQQNb62vrAy4" />
                    <img alt="Independence Day" src="https://maps.googleapis.com/maps/api/streetview?size=600x300&location={{ place.latitude}},{{ place.length }}&heading=151.78&pitch=-0.76&key=AIzaSyAfeVCJkEq8Hcb6B0t4uhISViUnfPkx71g" />


                    <div class="info">

                        <!-- <p class="desc">{{ place.email }}</p> -->
                        <ul>
                            <li style="width:33%;"><span class="fa fa-arrows-h"></span> Latitud:  {{ place.latitude}}</li>
                            <li style="width:34%;"><span class="fa fa-arrows-v"></span> Longitud:  {{ place.length }}</li>
                            <li style="width:34%;"><span class="fa fa-thumbs-o-up"></span> Marcar para visitar </li>
                        </ul>
                    </div>
                </li>
                <!-- <div class="[ col-xs-12 col-sm-12 ]">
                    <ul class="event-list">
                        <li>
                            <time datetime="2016-07-20">
                                <span class="day">4</span>
                                <span class="month">Jul</span>
                                <span class="year">2016</span>
                                <span class="time">ALL DAY</span>
                            </time>
                            <img alt="Independence Day" src="assets/images/oxxo.jpg" />
                            <div class="info">
                                <h2 class="title">Oxxo Calle 103</h2>
                                <p class="desc">Usuario Mappache 2</p>
                  <ul>
                                    <li style="width:33%;"><span class="fa fa-arrows-h"></span> Latitud:  49.584214</li>
                                    <li style="width:34%;"><span class="fa fa-arrows-v"></span> Longitud:  80.212142</li>
                    <li style="width:34%;"><span class="fa fa-thumbs-o-up"></span> Agregar Lugar </li>
                                </ul>
                            </div>
                        </li>

              <li>
                            <time datetime="2016-07-20">
                                <span class="day">5</span>
                                <span class="month">Abr</span>
                                <span class="year">2016</span>
                                <span class="time">ALL DAY</span>
                            </time>
                            <img alt="Independence Day" src="assets/images/clinica.jpg" />
                            <div class="info">
                                <h2 class="title">Clinica Jorge Piñeros</h2>
                                <p class="desc">Usuario Mappache</p>
                  <ul>
                                    <li style="width:33%;"><span class="fa fa-arrows-h"></span> Latitud:  75.584214</li>
                                    <li style="width:34%;"><span class="fa fa-arrows-v"></span> Longitud:  -35.212142</li>
                    <li style="width:34%;"><span class="fa fa-thumbs-o-up"></span> Agregar Lugar </li>
                                </ul>
                            </div>
                        </li>

              <li>
                            <time datetime="2016-07-20">
                                <span class="day">6</span>
                                <span class="month">Jul</span>
                                <span class="year">2016</span>
                                <span class="time">ALL DAY</span>
                            </time>
                            <img alt="Independence Day" src="assets/images/unal.jpg" />
                            <div class="info">
                                <h2 class="title">Universidad Nacional de Colombia</h2>
                                <p class="desc">Usuario Mappache 2</p>
                  <ul>
                                    <li style="width:33%;"><span class="fa fa-arrows-h"></span> Latitud:  -95.584214</li>
                                    <li style="width:34%;"><span class="fa fa-arrows-v"></span> Longitud:  15.212142</li>
                    <li style="width:34%;"><span class="fa fa-thumbs-o-up"></span> Agregar Lugar </li>
                                </ul>
                            </div>
                        </li>

              <li>
                            <time datetime="2016-07-20">
                                <span class="day">7</span>
                                <span class="month">Jun</span>
                                <span class="year">2016</span>
                                <span class="time">ALL DAY</span>
                            </time>
                            <img alt="Independence Day" src="assets/images/casa.jpg" />
                            <div class="info">
                                <h2 class="title">Casa de Chala</h2>
                                <p class="desc">Usuario Mappache 3</p>
                  <ul>
                                    <li style="width:33%;"><span class="fa fa-arrows-h"></span> Latitud:  -10.584214</li>
                                    <li style="width:34%;"><span class="fa fa-arrows-v"></span> Longitud:  70.212142</li>
                    <li style="width:34%;"><span class="fa fa-thumbs-o-up"></span> Agregar Lugar </li>
                                </ul>
                            </div>
                        </li>
    -->
            </ul>
        </div>

    </div>
</div>
